#searchWrapper {
	margin-top: 15%;
	text-align: center;
}

#search img {
	margin-bottom: 10px;
}

/* Search box (HTML5/CSS3) */
#searchbox {
	background: #eaf8fc;
	background-image: -moz-linear-gradient(#fff, #d4e8ec);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #d4e8ec),color-stop(1, #fff));

	-moz-border-radius: 35px;
	border-radius: 35px;

	border-width: 1px;
	border-style: solid;
	border-color: #c4d9df #a4c3ca #83afb7;
	width: 500px;
	height: 35px;
	padding: 10px;
	margin: 0 auto 50px;
	overflow: hidden; /* Clear floats */
}

#search, #submit {
	float: left;
}

#search {
	padding: 5px 9px;
	height: 23px;
	width: 380px;
	border: 1px solid #a4c3ca;
	font: normal 13px 'trebuchet MS', arial, helvetica;
	background: #f1f1f1;

	-moz-border-radius: 50px 3px 3px 50px;
	 border-radius: 50px 3px 3px 50px;
	 -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
	 -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
	 box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
}

#submit {
	background: #6cbb6b;
	background-image: -moz-linear-gradient(#95d788, #6cbb6b);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #6cbb6b),color-stop(1, #95d788));

	-moz-border-radius: 3px 50px 50px 3px;
	border-radius: 3px 50px 50px 3px;

	border-width: 1px;
	border-style: solid;
	border-color: #7eba7c #578e57 #447d43;

	 -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	 -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	 box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;                

	height: 35px;
	margin: 0 0 0 10px;
	padding: 0;
	width: 90px;
	cursor: pointer;
	font: bold 14px Arial, Helvetica;
	color: #23441e;

	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

#submit:hover {
	background: #95d788;
	background-image: -moz-linear-gradient(#6cbb6b, #95d788);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #95d788),color-stop(1, #6cbb6b));
}       

#submit:active {
	background: #95d788;
	outline: none;

	 -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	 -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	 box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

#submit::-moz-focus-inner {
	border: 0;  /* Small centering fix for Firefox */
}

#search::-webkit-input-placeholder {
   color: #9c9c9c;
   font-style: italic;
}

#search:-moz-placeholder {
   color: #9c9c9c;
   font-style: italic;
}    

#search.placeholder {
   color: #9c9c9c !important;
   font-style: italic;
}  

#search:focus {
	border-color: #8badb4;
	background: #fff;
	outline: none;
}

/* ----------------------- */

table {
	text-align: left;
	border: 8px dashed #b0c4de;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	min-width: 320px;
	width: 100%;
	padding: 10px;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
}

a {
	color: #3366BB;
	text-decoration: none;
}

td, th{
	font-family: arial,sans-serif;
	padding: 10px;
}

tr:nth-child(even) {
	background-color: #EFF7FF;
}

tr:nth-child(odd) {
	background-color:#DDEEFF;
}

.didyou {
	background-color: white;
	color: #CC0000;
}

#hello {
	font-family: Arial,sans-serif;
	color: #E47911;
    font-weight: bold;
}

#login {
	height: 30px;
	border-bottom: 1px solid #EBEBEB;
	margin-top: 5px;
	position:absolute;
	top: 0;
	width: 100%;
	font-family:arial;
	font-size: 15pt;
	text-align: right;
}

#login a {
	margin-right: 20px;
}

#profile {
	color: #3366BB;
	font-family: arial,sans-serif;
	font-size: 120%;
}

.like {
	float: right;
}

.like_dull {
	opacity: 0.2;
}

/* Restaurant detail */
#detail {
	margin-top: 50px;
	font-family: arial,sans-serif;
}

h1 {
    color: SlateGray;
    font-family: 'century gothic','Verdana',helvetica,arial,sans-serif;
    font-size: 20px;
}

.detail_top {
	padding-top: 0;
}

#overview {
	font-size: 18px;
	color: #000000;
}

.metadataAttr {
    color: #FF6600;
}
.metadataValue {
	color: #007700;
}

.right {
	float:right;
}